<% include partials/head.ejs %>
    <h2>Register your google calendar.</h2>
    <form action="/calendarRequest" method="get">
      <input type="submit" value="Get calendar data" />
    </form>
<% include partials/footer.ejs %>