<% include partials/head.ejs %>
  <h2>Do you own a Fitbit? If not, please purchase one and then continue.</h2>
  <a href="https://www.coolblue.nl/product/818369/fitbit-charge-3-black-graphite-aluminium.html?cmt=c_a,cid_1684255428,aid_65605310116,tid_aud-492138571404:pla-529839972218,gn_g,d_c&ref=856464&gclid=Cj0KCQjwhPfkBRD0ARIsAAcYycEQgBvfbakletqrWFrJoyJBMDOS8MI9w_Sg12yOZpxc4c4cirJ32wwaApXtEALw_wcB">Purchase Fitbit</a>
<% include partials/footer.ejs %>