<% include partials/head.ejs %>
  <h2>Select a product you would like some info about, an 'apple' for example.</h2>
  <form action="/foodDetail" method="POST">
    <label for="query">Enter product</label>
    <input type="text" id="query" name="query" />
    <input type="submit" value="send" />
<% include partials/footer.ejs %>