<% include partials/head.ejs %>
  <h2>Do you own a freestyle libre sticker? If not, please purchase one and then continue.</h2>
  <a href="https://www.freestylelibre.nl/">Purchase freestyle libre sticker</a>
<% include partials/footer.ejs %>