<% include partials/head.ejs %>

  <h1>Welcome to Dialog | a diabetes type 2 application</h1>

  <form action="/overview" method="POST">
    <h2>Login</h2>
    <label for="email">Email</label>
    <input type="email" id="email" />
    <label for="password">Password</label>
    <input type="text" id="password" />
    <input type="submit" value="login" />

    <h2>No account? Create one.</h2>
    <label for="email">Email</label>
    <input type="email" id="email" />
    <label for="password">Password</label>
    <input type="text" id="password" />
    <input type="submit" value="Create account" />
  </form>

<% include partials/footer.ejs %>