<% include partials/head.ejs %>

  <h1>Welcome to Dialog | a diabetes type 2 application</h1>

  <form action="/overview" method="post">
    <h2>Login</h2>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" />
    <label for="age">Age</label>
    <input type="number" id="age" name="age" />
    <label for="sex">Please select your sex</label>
    <select id="sex">
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="none">None</option>
    </select>
    <input type="submit" value="Continue" />
  </form>

<% include partials/footer.ejs %>